<div class="container-fluid" ng-init="getCampaign()" ng-controller="CampaignsController">

    <div class="card">
        <div class="card-content">
            <div class="card-title">
                {{campaign.campaign_name}}
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">tracking: {{campaign.campaign_tags}}</li>
                    <li class="list-group-item">current Tweets: {{campaign.number_tweets}}</li>
                    <li class="list-group-item">max Tweets: {{campaign.max_tweets}}</li>
                    <li class="list-group-item">start: {{campaign.start_date | date:"MM/dd/yyyy"}}</li>
                    <li class="list-group-item">end: {{campaign.end_date | date:"MM/dd/yyyy"}}</li>
                </ul>
                <div class="card-action">
                    <a href="" ng-click="export_tweets()">Export</a>
                    <a href="#/campaigns/edit/{{campaign._id}}">Edit</a>
                    <a href="#" ng-click="removeCampaign(campaign._id)">Delete</a>
                </div>
            </div>
        </div>

        <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
                <li class="tab" class="active">
                    <a ng-click="campaignTweetsView()">tweet list</a>
                </li>
                <li class="tab">
                    <a ng-click="campaignAnalyticsView()">word count</a>
                </li>
            </ul>
        </div>


        <div class="card-content grey lighten-4">

            <div id="tweetList" ng-show="campaign_view==3">
                <!-- tweet list view -->
                <div class="container-fluid tweet-view" ng-init="getTweets(1)">
                    <div class="table-responsive">
                        <table class="table">
                            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                            <thead>
                                <th>sentiment</th>
                                <th>user</th>
                                <th></th>
                                <th>text</th>
                                <th>date</th>
                                
                                <th>link</th>
                            </thead>
                            <tbody dir-paginate="tweet in tweets | itemsPerPage: 50 | filter: query" total-items="number_tweets" current-page="pagination.current">
                                <tr>
                                    <td>{{tweet.sentiment.score}} 
                                        <br>
                                        {{tweet.sentiment.comparative | number: 4}}
                                    <td>
                                        <img ng-src="{{ tweet.user_profile_image_url }}" />
                                    </td>
                                    <td>{{tweet.user_name}} {{tweet.user_screen_name}}</td>
                                    <td>{{tweet.text}}</td>
                                    <td>{{tweet.created_at}}</td>
                                    <td>{{tweet.retweet_count}}</td>
                                    <td>
                                        <a href="https://twitter.com/{{tweet.user_id_str}}/status/{{tweet.id_str}}">link</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
            </div>

            <div id="wordCount" ng-show="campaign_view==2">
                <!-- word count view -->
                <div class="container-fluid wc-view">
                    <nvd3 options="o1" data="d1"></nvd3>
                </div>
            </div>

        </div>
    </div>

    <!-- extra dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">