<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
<a href="#/campaigns">
    Go Back</a>

<div class="table-2-section" ng-init="getCampaign()">
    <h1>Campaign Name:
        <span>{{campaign.campaign_name}}</span>
    </h1>
    <div ng-show="is_running">
        <h1>Campaign is Running</h1>
    </div>
    <!-- Table Header -->
    <div class="table-2-headers">
        <div class="tracking">
            <p>Tracking:
                <span>{{campaign.campaign_tags}}</span>
            </p>
        </div>
        <div class="date">
            <p>Tracking:
                <span>{{campaign.start_date | date:"MM/dd/yyyy"}} - {{campaign.end_date | date:"MM/dd/yyyy"}}</span>
            </p>
        </div>
        <div class="total-tweets">
            <p>Current Tweets: {{campaign.number_tweets}}
            </p>
            <p>Max Tweets: {{campaign.max_tweets}}
            </p>
        </div>
        <h6>
            <a href="#/campaigns/edit/{{campaign._id}}">Edit</a> |
            <a href="#" ng-click="removeCampaign(campaign._id)">Delete</a> |
            <a href="" ng-click="export_tweets()">Export</a>
        </h6>
    </div>
</div>


<div ng-controller="CampaignsController" ng-init="getTweets(1)">
    <table>
        <tr class="table-2-row" dir-paginate="tweet in tweets | itemsPerPage: 50" total-items="number_tweets" current-page="pagination.current">
            <td>
                <img ng-src="{{ tweet.user_profile_image_url }}" />
            </td>
            <td>
                <p>{{tweet.user_name}} {{tweet.user_screen_name}}</p>
            </td>
            <td>
                <p>{{tweet.text}}
                    <p></p>
            </td>
            <td>{{tweet.created_at}}</td>
            <td>
                <td ng-if="tweet.retweet_count != 0" class="retweet">
                    <i class="fa fa-retweet"></i> {{tweet.retweet_count}}
                    </i>
                </td>
            </td>
            <td>
                <a href="https://twitter.com/{{tweet.user_id_str}}/status/{{tweet.id_str}}">link</a>
            </td>
        </tr>
    </table>

    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>

<!-- Table 2 -->
<!-- <div class="table-2-recents exportable" ng-init="getTweets(1)">
    <div class="table-2-row  table-2-head">
        Recent Tweets
        <input id="query" ng-model="query" type="text" class="table-2-search" name="" placeholder="Search...">
    </div>


    <ul>
        <li>
            <div class="table-2-row" dir-paginate="tweet in tweets | itemsPerPage: 50 | filter: query">

            </div>
        </li>
    </ul>
    <dir-pagination-controls></dir-pagination-controls>
</div> -->
</div>


<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">