<div class="container-fluid" ng-init="getCampaigns()">
    <table class="table table-1">
        <thead>
            <tr>
                <th>Campaign Name</th>
                <th>Keywords/Hashtags</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Total Tweets</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-1-row" ng-repeat="campaign in campaigns">
            <tr class="align-center">
                <td>
                    <a href="#/campaigns/details/{{campaign._id}}">{{campaign.campaign_name}}</a>
                </td>
                <td>{{campaign.campaign_tags}}</td>
                <td>{{ campaign.start_date | date:'MM/dd/yyyy' }}</td>
                <td>{{campaign.end_date | date:'MM/dd/yyyy' }}</td>
                <td>{{campaign.number_tweets}}</td>
                <td>
                    <a href="#/campaigns/edit/{{campaign._id}}">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn-floating btn waves-effect waves-light red" href="#/campaigns/add/" ><i class="material-icons">add</i></a>
</div>
