<h1>Campaign Name:
    <span>Bitcoin</span>
</h1>

<div class="table-2-section">

    <!-- Table Header -->
    <div class="table-2-headers">
        <div class="tracking">
            <p>Tracking:
                <span>Bitcoin, BTC, #bitcoin, #BTC</span>
            </p>
        </div>
        <div class="date">
            <p>Tracking:
                <span>12/01/2017-12/31/17</span>
            </p>
        </div>
        <div class="total-tweets">
            <p>Total Tweets:
                <span>435,339</span>
            </p>
        </div>
    </div>
</div>
<!-- Table 2 -->
<div class="table-2 clearfix">
    <div class="table-2-recents">
        <div class="table-2-row  table-2-head">
            Recent Tweets
            <input type="text" class="table-2-search" name="" placeholder="Search...">
        </div>

        <div class="table-2-row">
            <div>
                <img src="http://via.placeholder.com/50x50">
            </div>
            <div>
                <p>AnnaRandall</p>
                <b>@annarandall196x</b>
            </div>
            <div>
                <p>Copy successful traders automatically with Bitcoin!
                    <p></p>
            </div>
            <div>6:52 AM - Jan 1, 2018</div>
            <div>
                <a class="comments">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>44</a>
                <a class="retweet">
                    <i class="fa fa-retweet" aria-hidden="true"></i>134</a>
                <a class="like">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>141</a>
            </div>
        </div>

        <div class="table-2-row">
            <div>
                <img src="http://via.placeholder.com/50x50">
            </div>
            <div>
                <p>AnnaRandall</p>
                <b>@annarandall196x</b>
            </div>
            <div>
                <p>Copy successful traders automatically with Bitcoin!
                    <p></p>
            </div>
            <div>6:52 AM - Jan 1, 2018</div>
            <div>
                <a class="comments">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>44</a>
                <a class="retweet">
                    <i class="fa fa-retweet" aria-hidden="true"></i>134</a>
                <a class="like">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>141</a>
            </div>
        </div>

        <div class="table-2-row">
            <div>
                <img src="http://via.placeholder.com/50x50">
            </div>
            <div>
                <p>AnnaRandall</p>
                <b>@annarandall196x</b>
            </div>
            <div>
                <p>Copy successful traders automatically with Bitcoin!
                    <p></p>
            </div>
            <div>6:52 AM - Jan 1, 2018</div>
            <div>
                <a class="comments">
                    <i class="fa fa-comment-o" aria-hidden="true"></i>44</a>
                <a class="retweet">
                    <i class="fa fa-retweet" aria-hidden="true"></i>134</a>
                <a class="like">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>141</a>
            </div>
        </div>
    </div>
</div>
</div>